{% use "tailwind_2_layout.html.twig" %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~ "_help"}} -%}
    {%- endif -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6 relative')) }) -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
    {{- form_errors(form) -}}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="mt-1 mb-2 -mt-5">
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('text-xs text-red-600 dark:text-red-400') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block widget_attributes -%}
    {%- set attr = attr|merge({ class: attr.class|default(widget_class|default('block w-full mt-1 rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 shadow-sm focus:border-blue-300 focus:ring-transparent dark:focus:shadow-outline-gray dark:text-gray-300 placeholder-shown:overflow-ellipsis')) ~ (disabled ? ' ' ~ widget_disabled_class|default('border-gray-300 text-gray-500')) ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-700 dark:border-red-700')) }) -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({ class: label_attr.class|default(label_class|default('block text-base text-gray-700 dark:text-gray-400')) }) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{% block password_widget %}
    {%- set attr = attr|merge({ class: attr.class|default(widget_class|default('pr-8 block w-full mt-1 rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 shadow-sm focus:border-blue-300 focus:ring-transparent dark:focus:shadow-outline-gray dark:text-gray-300 placeholder-shown:overflow-ellipsis')) ~ (disabled ? ' ' ~ widget_disabled_class|default('border-gray-300 text-gray-500')) ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-700 dark:border-red-700')) }) -%}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block file_widget %}
    {%- set attr = attr|merge({ class: attr.class|default(widget_class|default('custom-file text-gray-800 dark:text-gray-300 block overflow-hidden cursor-pointer shadow-sm relative h-[42px] w-full mt-1 rounded-md bg-white border border-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-blue-300 focus:outline-none dark:focus:shadow-outline-gray')) ~ (disabled ? ' ' ~ widget_disabled_class|default('border-gray-300 text-gray-500')) ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-700 dark:border-red-700')) }) -%}
    {{- block('form_widget_simple') -}}
{% endblock %}

{%- block checkbox_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6 relative')) }) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <label class="inline-flex items-center dark:text-gray-400">
            {{- form_widget(form, widget_attr) -}}
            <span class="ml-2">
                {{- label -}}
                {#{%- if label_html is same as(false) -%}
                    {{- label -}}
                {%- else -%}
                    {{- label|raw -}}
                {%- endif -%}#}
            </span>
        </label>
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row -%}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('rounded-md border-gray-300 dark:border-gray-600 shadow-sm focus:border-blue-300 focus:ring-transparent dark:focus:shadow-outline-gray text-blue-700 dark:text-blue-500') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}