<template>
  <div class="flex flex-col min-h-screen w-screen">
    <div class="bg-gray-100 flex justify-center lg:justify-start">
      <img
        class="h-24 p-3"
        src="../../../public/img/icons/logoRE.svg"
        alt="Logo Ressources Relationnelles" />
    </div>

    <div class="bg-gray-100 grow">
      <main class="flex container grid grid-cols-12 gap-3">
        <the-login-form></the-login-form>
      </main>
    </div>

    <the-login-footer></the-login-footer>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import TheLoginForm from '../../components/Account/TheLoginForm.vue';
import TheLoginFooter from '../../layout/TheLoginFooter.vue';

export default defineComponent({
  components: {
    TheLoginFooter,
    TheLoginForm,
  },
  name: 'LoginView',
});
</script>
