<template>
  <div class="flex flex-col min-h-screen w-screen">
    <div class="bg-gray-100 flex justify-center lg:justify-start">
      <img
        class="h-24 p-3"
        src="../../../public/img/icons/logoRE.svg"
        alt="Logo Ressources Relationnelles" />
    </div>

    <div class="bg-gray-100 grow">
      <main class="flex container grid grid-cols-12 gap-3">
        <div class="col-span-12 lg:col-span-8 lg:col-start-3 p-6">
          <div
            class="bg-white shadow-md rounded-md px-12 lg:px-24 py-12 space-y-3">
            <div class="flex justify-between items-center pb-6">
              <h2 class="h-10 text-3xl font-medium">Bienvenue</h2>
              <MoonIcon
                class="w-8 flex-none fill-appElement-default cursor-pointer" />
            </div>
            <div class="flex flex-col space-y-6">
              <p>
                Vous venez de vous inscrire avec succès sur la plateforme
                "Ressources Relationnelles".
              </p>
              <router-link
                :to="{ name: 'LoginView' }"
                class="flex items-center justify-center w-full p-3 text-white rounded bg-appElement-default">
                Connexion
              </router-link>
            </div>
          </div>
        </div>
      </main>
    </div>

    <the-login-footer></the-login-footer>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import { MoonIcon } from '@heroicons/vue/solid';

import TheLoginFooter from '@/layout/TheLoginFooter.vue';

export default defineComponent({
  name: 'SignupSuccessView',
  components: {
    MoonIcon,
    TheLoginFooter,
  },
});
</script>
