{% extends 'base.html.twig' %}

{% block title %}{{ app_title }} - Connexion Admin{% endblock %}

{% block body %}
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
        <div class="flex-1 h-full max-w-2xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800 relative">
            <div class="flex items-center justify-center p-6 sm:p-12 md:w-3/4 mx-auto">
                <div class="w-full">
                    <div class="absolute top-0 right-0 p-1 md:p-4 h-[28px] w-[28px] md:h-auto md:w-auto text-blue-600 dark:text-blue-300">
                        {{ include('admin/_theme_toggler.html.twig') }}
                    </div>
                    {% if is_blocked %}
                        <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md my-8" role="alert">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="hidden sm:block max-h-20 w-auto mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <p class="text">{{ constant('App\\Entity\\LoginAttempt::EXCEED_LIMIT_MSG') }}</p>
                            </div>
                        </div>
                    {% else %}
                    <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">Connexion</h1>
                    {% if error %}
                        <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md my-8" role="alert">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <p class="text">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <form method="post">
                        <label class="block text-base">
                            <span class="text-gray-700 dark:text-gray-400">Email</span>
                            <input type="email"
                                   name="email"
                                   class="block w-full mt-1 rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 shadow-sm focus:border-blue-300 focus:outline-none dark:focus:shadow-outline-gray dark:text-gray-300"
                                   placeholder="email@exemple.fr"
                                   value="{{ last_username }}"
                            />
                        </label>
                        <label class="block mt-4 text-base relative">
                            <span class="text-gray-700 dark:text-gray-400">Mot de passe</span>
                            <input type="password"
                                   name="password"
                                   {{ stimulus_controller('password') }}
                                   class="block w-full mt-1 rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 shadow-sm focus:border-blue-300 focus:outline-none dark:focus:shadow-outline-gray dark:text-gray-300"
                                   placeholder="Mot de passe"
                            />
                        </label>
                        <label class="inline-flex items-center my-4 text-base cursor-pointer">
                            <input type="checkbox" name="_remember_me" class="cursor-pointer dark:focus:bg-transparent dark:bg-gray-700 dark:hover:bg-gray-700 dark:hover:border-gray-600 rounded border-gray-300 dark:border-gray-600 text-blue-600 dark:text-blue-400 shadow-sm focus:outline-none focus:border-blue-300" />
                            <span class="ml-2 text-gray-700 dark:text-gray-400">Se souvenir de moi</span>
                        </label>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <button type="submit"
                                class="block w-full px-4 py-2 mt-8 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                            Se connecter
                        </button>
                    </form>
                    <p class="mt-4">
                        <a class="text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline"
                           href="{{ path('admin_resetting_request') }}">
                            Mot de passe oublié ?
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
