<template>
  <div class="col-span-12 lg:col-span-8 lg:col-start-3 p-6">
    <div class="bg-white shadow-md rounded-md px-12 lg:px-24 py-12 space-y-3">
      <div class="flex flex-col justify-between items-start pb-6">
        <h2 class="text-3xl font-medium">Publier une ressource</h2>
        <h3 class="text-gray-500">Sur le groupe "Groupe public"</h3>
      </div>
      <form @submit.prevent="submitForm" class="flex flex-col space-y-6">
        <label class="font-medium" for="name">
          Nom de la ressource
          <input
            id="name"
            class="w-full my-2 rounded-md"
            type="text"
            placeholder="Entrez un nom"
            required
            v-model="name" />
        </label>
        <label class="font-medium" for="type">
          Type de ressource
          <select
            name="type"
            id="type"
            class="w-full my-2 rounded-md"
            v-model="type">
            <option
              v-for="(resourceTypeName, resourceType) in resourceTypes"
              :key="resourceType"
              :value="resourceType">
              {{ resourceTypeName }}
            </option>
          </select>
        </label>

        <label v-if="type === 'video'" for="video">
          Lien de la vidéo (YouTube)
          <input
            type="text"
            id="video"
            class="w-full my-2 rounded-md"
            placeholder="Entrez un lien YouTube valide"
            :required="type === 'video'"
            v-model="videoUrl" />
        </label>

        <label v-else for="file">
          Fichier
          <button
            class="flex items-center space-x-6 w-full my-2 p-3 rounded-md border-2 border-appElement-default text-appElement-default"
            @click="$refs.fileInput.click()">
            <upload-icon class="h-6"></upload-icon>
            <span ref="fileButton">Sélectionnez un fichier</span>
          </button>
          <input
            ref="fileInput"
            type="file"
            id="file"
            @change="updateFileButton"
            hidden />
        </label>

        <button
          class="w-full p-3 text-white rounded bg-appElement-default"
          type="submit">
          Publier
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import Vuex from 'vuex';

import resourceTypes from '@/constants/resource.types';

import { UploadIcon } from '@heroicons/vue/outline';

export default defineComponent({
  name: 'ResourceCreateForm',
  data() {
    return {
      file: null,
      name: null,
      type: 'article',
      videoUrl: '',
      resourceTypes,
    };
  },
  components: {
    UploadIcon,
  },
  methods: {
    ...Vuex.mapActions(['createOneResource']),
    async submitForm() {
      return await this.createOneResource({
        name: this.name,
        type: this.type,
        parentGroup: 1,
        videoUrl: this.videoUrl,
        resourceFile: this.file,
      });
    },
    updateFileButton(event) {
      // eslint-disable-next-line prefer-destructuring
      this.file = event.target.files[0];
      this.$refs.fileButton.innerText = this.file.name;
    },
  },
});
</script>
