<template>
  <iframe
    class="w-full aspect-video"
    :src="getVideoSource()"
    title="YouTube video player"
    allowfullscreen></iframe>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'YouTubeFrame',
  props: {
    videoUrl: {
      type: String,
      default: '',
    },
  },
  methods: {
    getVideoSource() {
      const videoURLSearchParams = new URLSearchParams(
        new URL(this.videoUrl).search
      );
      return `https://www.youtube.com/embed/${videoURLSearchParams.get('v')}`;
    },
  },
});
</script>
