<aside class="sidebar-menu transition -translate-x-72 ease-in-out duration-250 fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800">
    <div class="py-4 text-gray-500 dark:text-gray-400">
        {# TODO Add logo instead of plain text #}
        <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="{{ path('app_homepage') }}">(RE)sources relationnelles</a>
        <ul class="mt-6">
            <li class="relative px-6 py-3">
                {% if active_item == 'dashboard' %}{{ include('admin/sidebar/_active_item.html.twig') }}{% endif %}
                <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="{{ path('admin_dashboard') }}">
                    <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                    </svg>
                    <span class="ml-4">Dashboard</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="relative px-6 py-3">
                    {% if active_item == 'user' %}{{ include('admin/sidebar/_active_item.html.twig') }}{% endif %}
                    <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" href="{{ path('admin_user_index') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"/>
                        </svg>
                        <span class="ml-4">Utilisateurs</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</aside>