<template>
  <Menu as="div" class="relative hidden lg:block text-left">
    <MenuButton
      v-if="userIsLogged"
      class="inline-flex justify-center text-sm font-medium h-12 w-12 rounded-full bg-appElement-default">
    </MenuButton>
    <router-link
      v-else
      :to="{ name: 'LoginView' }"
      class="bg-transparent hover:bg-appElement-default border-2 border-appElement-default inline-flex justify-center items-center text-appElement-default hover:text-white px-4 py-2 text-sm font-medium h-12 rounded-md bg-appElement-default">
      Se connecter
    </router-link>
    <MenuItems
      v-if="userIsLogged"
      class="absolute right-0 mt-6 w-56 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-md shadow-gray-400">
      <div class="px-1 py-1">
        <MenuItem>
          <button
            class="text-gray-900 group flex rounded-md justify-between w-full px-2 py-2 text-sm">
            Mon compte
            <user-icon class="h-4 fill-appElement-default"></user-icon>
          </button>
        </MenuItem>
      </div>
      <div class="px-1 py-1">
        <MenuItem>
          <button
            @click="userLogout"
            class="text-red-400 group flex rounded-md justify-between w-full p-2 text-sm">
            Se déconnecter
            <logout-icon class="h-4 stroke-red-400"></logout-icon>
          </button>
        </MenuItem>
      </div>
    </MenuItems>
  </Menu>
</template>

<script>
import { defineComponent } from 'vue';
import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue';
import { LogoutIcon } from '@heroicons/vue/outline';
import { UserIcon } from '@heroicons/vue/solid';
import Vuex from 'vuex';

export default defineComponent({
  name: 'TheDesktopMenu',
  components: {
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    LogoutIcon,
    UserIcon,
  },
  props: {
    userIsLogged: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    ...Vuex.mapActions(['logout']),
    async userLogout() {
      return await this.logout();
    },
  },
});
</script>
