<button class="rounded-md focus:outline-none focus:shadow-outline-purple"
        {{ stimulus_controller('theme') }} {{ stimulus_action('theme', 'toggle') }}
        aria-label="Bascule le thème (sombre ou clair)"></button>