<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    {% if block('metadescription') %}
        <meta name="description" content="{% block metadescription %}{% endblock %}"/>
    {% endif %}
    {% block meta %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('/favicon.ico') }}">

    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-36x36.png') }}" sizes="36x36">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-48x48.png') }}" sizes="48x48">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-72x72.png') }}" sizes="72x72">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-144x144.png') }}" sizes="144x144">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-192x192.png') }}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ asset('apple-icon.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset('apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">

    <link rel="manifest" crossorigin="use-credentials" href="{{ asset('manifest.json') }}" />
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#000000" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="application-name" content="{{ app_title }}" />
    <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    {% block social_share_meta %}{% endblock %}
    <title>{% block title %}{{ app_title }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app_css') }}
        {{ encore_entry_link_tags('menu_animation_css') }}
        {{ encore_entry_link_tags('notifications_css') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('admin_js') }}
    {% endblock %}
    {% block cookie_choices %}{% endblock %}
    {% block google_analytics %}{% endblock %}
</head>
<body {{ stimulus_controller('notification') }} data-notifications="{{ app.flashes|json_encode }}">
<div class="flex flex-col h-screen bg-gray-50 dark:bg-gray-900">
    {% block header %}
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
            <div class="container flex items-center justify-between h-full px-6 md:px-4 mx-auto text-blue-600 dark:text-blue-300">
                <button class="menu-trigger p-1 rounded-md focus:outline-none focus:shadow-outline-blue"
                        {{ stimulus_controller('sidebar')}}
                        {{ stimulus_action('sidebar', 'toggle', 'click') }}
                        aria-label="Menu">
                    <svg viewBox="0 0 120 120" class="w-8 h-8">
                        <g>
                            <path class="line top" d="M35,35h50c14.1,0,50.6,13,20.5,53.5s-121.9,21.6-94.4-40.3S111.6,8.4,85,35L35,85"/>
                            <path class="line bottom" d="M35,85h50c14.1,0,50.6-13,20.5-53.5S-16.4,9.9,11.1,71.8S111.6,111.6,85,85L35,35"/>
                            <line class="line cross" x1="35" y1="60" x2="85" y2="60"/>
                        </g>
                    </svg>
                </button>
                <ul class="flex items-center flex-shrink-0 space-x-6">
                    <li class="flex">
                        {{ include('admin/_theme_toggler.html.twig') }}
                    </li>
                    <li class="relative">
                        <button class="align-middle rounded-full focus:shadow-outline-blue focus:outline-none" aria-label="Sous menu Utilisateur" {{ stimulus_controller('dropdown') }} {{ stimulus_action('dropdown', 'toggle') }}>
                            {% if app.user.avatar %}
                                <img class="object-cover rounded-full"
                                     src="{{ vich_uploader_asset(app.user, 'avatarFile')| imagine_filter('avatar_thumb') }}"
                                     alt="Avatar de {{ app.user.userIdentifier }}" aria-hidden="true"/>
                            {% else %}
                                <span class="h-8 w-8 flex items-center rounded-full justify-center bg-gray-300 text-blue-600 m-auto text-sm font-semibold uppercase">{{ app.user.firstName|first }}{{ app.user.lastName|first }}</span>
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu transition ease-in duration-150 invisible absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700" aria-label="submenu">
                            <li class="flex">
                                <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200" href="{{ path('admin_profile_index', {'id': app.user.id}) }}">
                                    <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                        <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                                    </svg>
                                    <span>Mon profil</span>
                                </a>
                            </li>
                            {% if is_granted('IS_IMPERSONATOR') %}
                                <li class="flex">
                                    <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200" href="{{ impersonation_exit_path(path(app.request.attributes.get('_route')) ) }}">
                                        <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                            <path d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
                                        </svg>
                                        <span>Quitter "En tant que ..."</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="flex">
                                <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200" href="{{ path('admin_logout') }}">
                                    <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                        <path d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
                                    </svg>
                                    <span>Déconnexion</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        {{ include('admin/sidebar/_menu.html.twig', {'active_item': block('menu') is defined ? block('menu') : 'dashboard'}) }}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</body>
</html>