@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.required:after {
  @apply ml-1;
  content: '*';
}

.password-meter {
  @apply absolute bottom-0 rounded w-full  overflow-hidden block bg-transparent h-[4px];
  > .determinate {
    @apply bg-transparent absolute bottom-0 left-0 top-0 w-0;
    transition: width .5s linear, background-color .2s linear;

    &.invalid {
      @apply bg-red-500;
    }

    &.valid {
      @apply bg-green-500;
    }
  }
}

input[type=file].custom-file::-webkit-file-upload-button,
input[type=file].custom-file::file-selector-button {
  @apply inline-block mt-1.5 text-xs sm:text-sm text-gray-500 my-auto p-0.5 sm:p-1 rounded bg-gray-300 dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-400 dark:hover:text-gray-800 hover:bg-gray-600 hover:text-white font-medium text-sm cursor-pointer border-0;
  margin-inline-start: .5rem;
  margin-inline-end: .5rem;
  @screen sm {
    margin-inline-start: 1rem;
  }
  &:focus {
    outline: 0;
  }
}

.swal2-popup {
  @apply bg-white dark:bg-gray-500;
   .swal2-title, .swal2-html-container {
     @apply text-gray-700 dark:text-gray-200;
   }
}

[data-turbo-preview] {
  @apply opacity-20;
}