@tailwind components;
@layer components {
  .menu-trigger {
    .line {
      fill: none;
      stroke: #71818d;
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    /* Hamburger */
    .line.top,
    .line.bottom {
      stroke-dasharray: 50px 600px;
      stroke-dashoffset: 0px;
    }
    .line.cross {
      stroke-dasharray: 50px 60px;
      stroke-dashoffset: 0px;
    }


    /* Timing */
    $timing: 0.20s;
    .line.cross {
      transition: $timing stroke-dasharray ease $timing,
      $timing stroke-dashoffset ease $timing,
      $timing stroke ease 0s;
    }

    .line.top {
      transition: ($timing * 1.5) stroke-dasharray ease 0s,
              ($timing * 1.5) stroke-dashoffset ease 0s,
      $timing stroke ease 0s;
    }

    .line.bottom {
      transition: ($timing * 1.5) stroke-dasharray ease $timing,
              ($timing * 1.5) stroke-dashoffset ease $timing,
      $timing stroke ease 0s;
    }

    &.on .line.cross {
      transition: $timing stroke-dasharray ease 0s,
      $timing stroke-dashoffset ease 0s,
      $timing stroke ease 0s;
    }
    /* Cross */
    &.on .line.top,
    &.on .line.bottom {
      stroke-dasharray: 70.71px 600px;
      stroke-dashoffset: -392px;
    }

    &.on .line.cross {
      stroke-dasharray: 50px 60px;
      stroke-dashoffset: 51px;
    }
  }
}