.notification-toast {
  @apply text-white border-0 rounded fixed right-0 mb-4 box-border;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: opacity .7s, top .5s, bottom .5s;
  z-index: 100000;

  &:hover {
    @apply cursor-pointer opacity-100;
  }

  &.slide-out {
    -webkit-animation: slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &.hidden {
    @apply opacity-0;
    transition: opacity .7s, top .5s, bottom .5s;
  }

  > .content {
    @apply relative flex items-center p-2.5;

    > .message {
      @apply w-full text-base pl-2;
    }
  }

  > .progressbar {
    @apply w-[350px] h-1.5 m-0 p-0 rounded opacity-50;
    background-color: #000;
  }
}

/* ---------------------------------
 * Animations used for toast style |
 * ---------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0
  }
}
