Réinitialisation de votre mot de passe

Bonjour {{ user_full_name }},
Pour réinitialiser votre mot de passe, merci de vous rendre sur {{ reset_password_url }}.

Cet email a été envoyé automatiquement, merci de ne pas y répondre