{% extends 'base_email.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block content %}
    <container>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p class="text-center title">{{ block('title') }}</p>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row class="text-content">
            <columns>
                <p>Bonjour {{ user_full_name|title }},</p>
                <spacer size="12"></spacer>
                <p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant et choisissez votre nouveau mot de passe : </p>
                <spacer size="20"></spacer>
                <center>
                    <button href="{{ reset_password_url }}" class="radius">Changer mon mot de passe</button>
                </center>
                <spacer size="20"></spacer>
                <p class="text-center noreply">
                    <em>Cet email a été envoyé automatiquement, merci de ne pas y répondre</em>
                </p>
            </columns>
        </row>
    </container>
{% endblock %}