Modification de votre mot de passe

Bonjour {{ user_full_name|title }},
Votre mot de passe a bien été modifié.

Si vous n'êtes pas à l'initiative de ce changement merci de contacter rapidement un administrateur.


Cet email a été envoyé automatiquement, merci de ne pas y répondre