{% extends 'base_email.html.twig' %}

{% block title %}Modification de votre mot de passe{% endblock %}

{% block content %}
    <container>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p class="text-center title">{{ block('title') }}</p>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row class="text-content">
            <columns>
                <p>Bonjour {{ user_full_name|title }},</p>
                <p>Votre mot de passe a bien été modifié.</p>
                <spacer size="20"></spacer>
                <callout><strong>Si vous n'êtes pas à l'initiative de ce changement, merci de contacter rapidement un administrateur.</strong></callout>
                <spacer size="20"></spacer>
                <p class="text-center noreply">
                    <em>Cet email a été envoyé automatiquement, merci de ne pas y répondre</em>
                </p>
            </columns>
        </row>
    </container>
{% endblock %}