{% extends 'base.html.twig' %}

{% block title %}{{ app_title }} - Email envoyé !{% endblock %}

{% block body %}
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
        <div class="flex-1 h-full max-w-2xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800 relative">
            <div class="flex items-center justify-center p-6 sm:p-12 md:w-3/4 mx-auto">
                <div class="w-full">
                    <div class="absolute top-0 right-0 p-1 md:p-4 h-[28px] w-[28px] md:h-auto md:w-auto text-blue-600 dark:text-blue-300">
                        {{ include('admin/_theme_toggler.html.twig') }}
                    </div>
                    <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">Demande prise en compte</h1>
                    <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 dark:text-blue-100 dark:bg-blue-500 px-4 py-3 flex flex-row items-center" role="alert">
                        <p class="font-bold">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </p>
                        <div>
                            <p class="text-sm">Un e-mail vous a été envoyé. Il contient un lien qui vous permettra de
                                réinitialiser votre mot de passe.</p>
                            <p class="text-sm">Si vous n'avez pas reçu d'email, vérifiez votre dossier spam ou essayez à
                                nouveau</p>
                        </div>
                    </div>
                    <p class="mt-4 text-center">
                        <a class="text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline"
                           href="{{ path('admin_resetting_retry_send_email', {'email': email}) }}">
                            Email non reçu ?
                        </a>
                    </p>
                    <p class="mt-4 text-center">
                        <a class="text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline"
                           href="{{ path('admin_login') }}">
                            Revenir à la page de connexion
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
