{% extends 'base.html.twig' %}

{% block title %}{{ app_title }} - Mot de passe oublié{% endblock %}

{% block body %}
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
        <div class="flex-1 h-full max-w-2xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800 relative">
            <div class="flex items-center justify-center p-6 sm:p-12 md:w-3/4 mx-auto">
                <div class="w-full">
                    <div class="absolute top-0 right-0 p-1 md:p-4 h-[28px] w-[28px] md:h-auto md:w-auto text-blue-600 dark:text-blue-300">
                        {{ include('admin/_theme_toggler.html.twig') }}
                    </div>
                    <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">Réinitialiser votre mot de passe</h1>
                    {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    <button type="submit"
                            class="block w-full px-4 py-2 mt-8 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                        Envoyer la demande
                    </button>
                    {{ form_end(form) }}
                    <p class="mt-4 text-center">
                        <a class="text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline"
                           href="{{ path('admin_login') }}">
                            Revenir à la page de connexion
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
