<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    {% if block('metadescription') %}
        <meta name="description" content="{% block metadescription %}{% endblock %}"/>
    {% endif %}

    <link rel="shortcut icon" href="{{ asset('/favicon.ico') }}">

    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-36x36.png') }}" sizes="36x36">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-48x48.png') }}" sizes="48x48">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-72x72.png') }}" sizes="72x72">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-144x144.png') }}" sizes="144x144">
    <link rel="icon" type="image/png" href="{{ asset('android-icon-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset('android-chrome-512x512.png') }}" sizes="512x512">

    <link rel="apple-touch-icon" href="{{ asset('apple-icon.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset('apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">


    <link rel="manifest" crossorigin="use-credentials" href="{{ asset('manifest.json') }}" />
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#000000" />
    <meta name="msapplication-TileColor" content="#00999E">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-70x70.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-150x150.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-310x150.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-310x310.png') }}">
    <meta name="application-name" content="{{ app_title }}" />
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    {% block social_share_meta %}{% endblock %}
    <title>{% block title %}{{ app_title }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app_css') }}
        {{ encore_entry_link_tags('notifications_css') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app_js') }}
    {% endblock %}
    {% block cookie_choices %}{% endblock %}
    {% block google_analytics %}{% endblock %}
</head>
<body {% if block('page_identifier') %}id="{% block page_identifier %}{% endblock %}"{% endif %} {{ stimulus_controller('notification') }} data-notifications="{{ app.flashes|json_encode }}">
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>