{% apply inky_to_html|inline_css(source('@css/foundation-email.css')) %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{{ site_title }}{% endblock %}</title>
    </head>
    <body>
    <table class="body">
        <tr>
            <td class="float-center" align="center" valign="top">
                {% if without_header is not defined %}
                    <row class="header">
                        <columns>
                            <spacer size="10"></spacer>
{#                            <center><img src="{{ email.image('@images/logo-email-white.png') }}" alt="logo (RE)sources relationnelles" height="55" width="192"></center>#}
                        </columns>
                    </row>
                {% endif %}
                <center>
                    {% block content %}{% endblock %}
                </center>
                <spacer size="30"></spacer>
                <row class="footer">
                    <columns>
                        <p class="text-center">© {{ date()|date('Y') }} - {{ app_title }}</p>
                    </columns>
                </row>
            </td>
        </tr>
    </table>
    </body>
    </html>
{% endapply %}