{% extends 'admin/base.html.twig' %}

{% block title %}{{ app_title }} - Dashboard{% endblock %}

{% block menu 'dashboard' %}

{% block body %}
    <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Dashboard
            </h2>
        </div>
    </main>
{% endblock %}

{% block footer %}{% endblock %}