<template>
  <div class="space-y-6 my-6">
    <router-link
      v-if="$route.name === 'NewsFeedView'"
      :to="{ name: 'ResourceCreateView' }"
      class="hidden lg:flex items-center justify-center space-x-6 p-3 w-full rounded-md bg-appElement-default text-white">
      <span>Ajouter une ressource</span>
      <plus-icon class="h-6 stroke-white"></plus-icon>
    </router-link>
    <news-feed-card-item
      v-for="resource in orderedNewsFeed"
      :key="resource.id"
      :resource="resource"></news-feed-card-item>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import NewsFeedCardItem from '@/components/NewsFeed/NewsFeedCardItem.vue';

import { PlusIcon } from '@heroicons/vue/outline';

import _ from 'lodash';

export default defineComponent({
  name: 'NewsFeedCardList',
  components: {
    NewsFeedCardItem,
    PlusIcon,
  },
  props: {
    newsFeed: {
      type: Object,
      default: null,
    },
  },
  computed: {
    orderedNewsFeed() {
      return _.orderBy(this.newsFeed, ['createdAt'], ['desc']);
    },
  },
});
</script>
