<template>
  <section class="col-span-12 lg:col-span-8">
    <news-feed-card-list :news-feed="newsFeed"></news-feed-card-list>
  </section>
</template>

<script>
import { defineComponent } from 'vue';
import store from '@/store';
import Vuex from 'vuex';

import NewsFeedCardList from '@/components/NewsFeed/NewsFeedCardList.vue';

export default defineComponent({
  name: 'NewsFeed',
  components: {
    NewsFeedCardList,
  },
  data() {
    return {
      newsFeed: null,
    };
  },
  async mounted() {
    await this.getNewsFeed();
  },
  methods: {
    ...Vuex.mapActions(['fetchNewsFeed']),
    async getNewsFeed() {
      await this.fetchNewsFeed();
      this.newsFeed = store.state.newsFeed.newsFeed;
    },
  },
});
</script>
