<template>
  <div class="bg-white shadow-md rounded-md py-3 space-y-6">
    <div class="px-3 flex space-x-3 items-center">
      <img
        class="h-12 w-12 rounded-full object-cover"
        :src="`http://placekitten.com/${resource.author.id * 120}/${
          resource.author.id * 120
        }`"
        :alt="`Avatar de ${resource.author.firstName} ${resource.author.lastName}`" />
      <div>
        <h2 class="text-xl font-semibold">
          {{ resource.author.firstName }} {{ resource.author.lastName }}
          -
          {{ resource.parentGroup.name }}
        </h2>
        <p class="text-gray-500 text-sm">{{ resourceCreationDate }}</p>
      </div>
    </div>
    <div v-if="resource.videoUrl">
      <youtube-frame :videoUrl="resource.videoUrl"></youtube-frame>
    </div>
    <div v-else class="px-3">
      <a
        :href="resource.file"
        target="_blank"
        class="w-full shadow-inner shadow-md rounded-md bg-gray-100 flex items-center p-3 space-x-6">
        <div>
          <div class="h-10 w-10">
            <newspaper-icon
              class="stroke-gray-500"
              v-if="resource.type === 'article'"></newspaper-icon>
            <puzzle-icon
              class="stroke-blue-500"
              v-if="resource.type === 'activity'"></puzzle-icon>
            <desktop-computer-icon
              class="stroke-indigo-500"
              v-if="resource.type === 'online_game'"></desktop-computer-icon>
            <beaker-icon
              class="stroke-green-500"
              v-if="resource.type === 'workshop'"></beaker-icon>
            <light-bulb-icon
              class="stroke-yellow-500"
              v-if="resource.type === 'challenge_card'"></light-bulb-icon>
            <video-camera-icon
              class="stroke-red-500"
              v-if="resource.type === 'video'"></video-camera-icon>
            <presentation-chart-line-icon
              class="stroke-red-500"
              v-if="
                resource.type === 'pdf_course'
              "></presentation-chart-line-icon>
            <document-text-icon
              class="stroke-purple-500"
              v-if="resource.type === 'reading_note'"></document-text-icon>
          </div>
        </div>
        <div class="flex flex-col">
          <h3 class="text-lg font-semibold">{{ resource.name }}</h3>
          <p class="text-gray-500">{{ resourceType }}</p>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import {
  NewspaperIcon,
  PuzzleIcon,
  DesktopComputerIcon,
  BeakerIcon,
  LightBulbIcon,
  VideoCameraIcon,
  PresentationChartLineIcon,
  DocumentTextIcon,
} from '@heroicons/vue/outline';

import YoutubeFrame from '@/components/YoutubeFrame.vue';
import resourceTypes from '@/constants/resource.types';

export default defineComponent({
  name: 'NewsFeedCardItem',
  components: {
    YoutubeFrame,
    NewspaperIcon,
    PuzzleIcon,
    DesktopComputerIcon,
    BeakerIcon,
    LightBulbIcon,
    VideoCameraIcon,
    PresentationChartLineIcon,
    DocumentTextIcon,
  },
  props: {
    resource: {
      type: Object,
      default: null,
    },
  },
  computed: {
    resourceType() {
      return resourceTypes[this.resource.type];
    },
    resourceCreationDate() {
      const createdAtDate = Date.parse(this.resource.createdAt);
      return new Intl.DateTimeFormat('fr-FR', {
        dateStyle: 'short',
        timeStyle: 'short',
      }).format(createdAtDate);
    },
  },
});
</script>
