<template>
  <TransitionRoot :show="sidebarIsOpen">
    <Dialog
      as="div"
      @close="closeSidebar"
      class="block lg:hidden fixed inset-0 z-50">
      <TransitionChild
        enter="transition ease-in-out duration-200 transform"
        enter-from="translate-x-full"
        enter-to="translate-x-0"
        leave="transition ease-in-out duration-200 transform"
        leave-from="translate-x-0"
        leave-to="translate-x-full"
        as="template">
        <div
          class="float-right flex flex-col relative z-10 h-screen w-72 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0 shadow-lg">
          <div class="bg-appElement-default border-b-2 border-grey-100 h-20">
            <div
              class="flex flex-row p-3 items-center justify-between h-full w-full">
              <p class="text-2xl text-white font-semibold">Menu</p>
              <button class="ring-0" @click="closeSidebar">
                <x-icon class="h-10 stroke-white ring-0"></x-icon>
              </button>
            </div>
          </div>
          <nav
            class="flex-grow md:block md:pb-0 md:overflow-y-auto divide-y divide-gray-100">
            <a
              v-if="userIsLogged"
              class="text-gray-900 group flex rounded-md justify-between items-center w-full p-3 block font-semibold"
              href="#">
              Mon compte
              <user-icon class="h-4 fill-appElement-default"></user-icon>
            </a>
            <a
              v-if="userIsLogged"
              class="text-red-400 group flex rounded-md justify-between items-center w-full p-3 block font-semibold"
              @click="userLogout"
              href="#">
              Se déconnecter
              <logout-icon class="h-4 stroke-red-400"></logout-icon>
            </a>
            <router-link
              v-else
              class="text-appElement-default group flex rounded-md justify-between items-center w-full p-3 block font-semibold"
              :to="{ name: 'LoginView' }">
              Se connecter
              <login-icon class="h-4 stroke-appElement-default"></login-icon>
            </router-link>
          </nav>
        </div>
      </TransitionChild>
      <TransitionChild
        enter="transition-opacity linear duration-200"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="transition-opacity linear duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
        as="template">
        <DialogOverlay
          class="fixed inset-0 bg-gray-600 bg-opacity-50"></DialogOverlay>
      </TransitionChild>
    </Dialog>
  </TransitionRoot>
</template>

<script>
import { defineComponent } from 'vue';

import {
  Dialog,
  DialogOverlay,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue';

import { UserIcon } from '@heroicons/vue/solid';
import { LoginIcon, LogoutIcon, XIcon } from '@heroicons/vue/outline';
import Vuex from 'vuex';

export default defineComponent({
  name: 'TheMobileSideBarMenu',
  components: {
    Dialog,
    DialogOverlay,
    TransitionChild,
    TransitionRoot,
    UserIcon,
    LoginIcon,
    LogoutIcon,
    XIcon,
  },
  props: {
    sidebarIsOpen: {
      type: Boolean,
      default: false,
    },
    userIsLogged: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    ...Vuex.mapActions(['logout']),
    async userLogout() {
      return await this.logout();
    },

    closeSidebar() {
      return this.$emit('close');
    },
  },
});
</script>
