<div class="flex items-center space-x-4 text-sm{% if with_notifications|default(false) %} stream-notifications{% endif %}" id="user-{{ user.id }}-actions" {% if with_notifications|default(false) %}{{ stimulus_controller('notification') }} data-notifications="{{ app.flashes|json_encode }}"{% endif %}>
    <a class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-blue-600 rounded-lg dark:text-gray-400 dark:hover:text-gray-200 focus:outline-none focus:shadow-outline-gray" href="{{ path('admin_user_edit', {'id': user.id}) }}" title="Modifier les informations de {{ user.fullName|title }}">
        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
        </svg>
    </a>
    <form action="{{ path('admin_user_activate_or_deactivate', {'id': user.id}) }}" method="post">
        {% if user.active %}
            <input type="hidden" name="_token" value="{{ csrf_token('activate_' ~ user.id) }}">
            <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-blue-600 rounded-lg dark:text-gray-400 dark:hover:text-gray-200 focus:outline-none focus:shadow-outline-gray"
                    title="Désactiver {{ user.fullName|title }}"
                    aria-label="Deactivate">
                <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"/>
                </svg>
            </button>
        {% else %}
            <input type="hidden" name="_token" value="{{ csrf_token('activate_' ~ user.id) }}">
            <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-blue-600 rounded-lg dark:text-gray-400 dark:hover:text-gray-200 focus:outline-none focus:shadow-outline-gray"
                    title="Activer {{ user.fullName|title }}"
                    aria-label="Activate">
                <svg class="h-5 w-5 text-red-600 dark:text-red-400 dark:hover:text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg>
            </button>
        {% endif %}
    </form>
    <form action="{{ path('admin_user_delete', {'id' : user.id}) }}" {{ stimulus_controller('delete-confirm') }} {{ stimulus_action('delete-confirm', 'onSubmit', 'submit') }} method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('delete_' ~ user.id) }}">
        <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-blue-600 rounded-lg dark:text-gray-400 dark:hover:text-gray-200 focus:outline-none focus:shadow-outline-gray" aria-label="Delete" title="Supprimer {{ user.fullName|title }}">
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
            </svg>
        </button>
    </form>
</div>