{% for user in users %}
    <tr class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3">
            <turbo-frame id="user-name">
            {{ include('admin/admin_user/_user_name_item.html.twig') }}
            </turbo-frame>
        </td>
        <td class="px-4 py-3 text-sm">
            <span class="cursor-pointer" {{ stimulus_controller('clipboard-copy', {'successMsg': 'Email copié'}) }} {{ stimulus_action('clipboard-copy', 'onClick', 'click') }} title="Cliquer pour copier ‘{{ user.email }}‘">
                {{ user.email }}
            </span>
        </td>
        <td class="px-4 py-3 text-xs">
            <span class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600 truncate">
                {{ user.roleFormatted }}
            </span>
        </td>
        <td class="px-4 py-3 text-sm">
            {{ user.lastLogin ? user.lastLogin|date('d/m/Y à H:i') : 'Pas de connexion' }}
        </td>
        <td class="px-4 py-3">
            {{ include('admin/admin_user/_action_items.html.twig') }}
        </td>
    </tr>
{% else %}
    <tr class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3 italic" colspan="5">Aucun utilisateur pour l'instant</td>
    </tr>
{% endfor %}