<div class="flex items-center text-sm" id="user-{{ user.id }}-name">
    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
        {% if user.avatar %}
            <img class="object-cover rounded-full"
                 src="{{ vich_uploader_asset(user, 'avatarFile')| imagine_filter('avatar_thumb') }}"
                 alt="Avatar de {{ user.userIdentifier }}" aria-hidden="true"/>
        {% else %}
            <span class="h-8 w-8 flex items-center rounded-full justify-center bg-gray-300 text-blue-600 m-auto text-sm font-semibold uppercase">{{ user.firstName|first }}{{ user.lastName|first }}</span>
        {% endif %}
    </div>
    <div>
        <p class="font-semibold">{{ user.fullName }}</p>
        {% if not user.active %}
            <p class="text-xs text-red-600 dark:text-red-400">Utilisateur inactif</p>
        {% endif %}
    </div>
</div>