{% extends 'admin/base.html.twig' %}

{% block title %}{{ app_title }} - Utilisateurs{% endblock %}

{% block menu 'user' %}

{% block body %}
    <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Utilisateurs
            </h2>
            <div class="gap-6 mb-8 flex flex-col md:flex-row md:justify-between">
                <!-- Card -->
                <div class="flex items-center p-4 bg-white rounded-lg shadow-sm dark:bg-gray-800 md:w-1/2 lg:w-1/4">
                    <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
                        </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">Total Utilisateurs</p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">{{ users|length }}</p>
                    </div>
                </div>
                <div class="flex items-center justify-center p-4 md:w-1/2 lg:w-1/4">
                    <a href="{{ path('admin_user_new') }}" class="px-4 py-2 font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                        Ajouter un utilisateur
                        <span class="ml-2" aria-hidden="true">+</span>
                    </a>
                </div>
            </div>
            <div class="w-full overflow-hidden rounded-lg shadow shadow-inner">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Utilisateur</th>
                            <th class="px-4 py-3">Email</th>
                            <th class="px-4 py-3">Rôle</th>
                            <th class="px-4 py-3">Dernière connexion</th>
                            <th class="px-4 py-3">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {{ include('admin/admin_user/_list_item.html.twig', {'users': users}) }}
                        </tbody>
                    </table>
                </div>
                {# Pagination template if needed #}
                {#<div class="px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <div class="flex col-span-4 mt-2 justify-center sm:mt-auto sm:justify-end">
                        <ul class="inline-flex items-center">
                            <li>
                                <button class="px-2 sm:px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue" aria-label="Previous">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                        <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button class="px-2 sm:px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue">1</button>
                            </li>
                            <li>
                                <button class="px-2 sm:px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue">2</button></li>
                            <li>
                                <button class="px-2 sm:px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue">3</button>
                            </li>
                            <li>
                                <button class="px-2 sm:px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue">4</button>
                            </li>
                            <li><span class="px-2 sm:px-3 py-1">...</span></li>
                            <li>
                                <button class="px-2 sm:px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue">8</button>
                            </li>
                            <li>
                                <button class="px-2 sm:px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue">9</button>
                            </li>
                            <li>
                                <button class="px-2 sm:px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-blue" aria-label="Next">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                        <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>#}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}{% endblock %}