<turbo-stream action="update" target="user-{{ user.id }}-actions">
    <template>
        {{ include('admin/admin_user/_action_items.html.twig', {'with_notifications': true}) }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="user-{{ user.id }}-name">
    <template>
        {{ include('admin/admin_user/_user_name_item.html.twig') }}
    </template>
</turbo-stream>