<template>
  <footer class="container grid grid-cols-12 text-gray-400">
    <div
      class="col-span-12 lg:col-span-8 lg:col-start-3 flex flex-col lg:flex-row justify-around items-center">
      <a href="#" class="p-6"> Mentions légales </a>
      <a href="#" class="p-6"> Vie privée </a>
      <a href="#" class="p-6"> Contact </a>
      <a href="#" class="p-6"> Plan du site </a>
    </div>
  </footer>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TheLoginFooter',
});
</script>
