<template>
  <div class="flex flex-col min-h-screen w-screen">
    <the-header></the-header>
    <div class="bg-gray-100 grow">
      <main class="flex container grid grid-cols-12 gap-6 px-3 lg:px-0">
        <NewsFeedFilters />
        <NewsFeed />
      </main>
    </div>
    <the-mobile-footer></the-mobile-footer>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import TheHeader from '../layout/TheHeader.vue';
import TheMobileFooter from '../layout/Mobile/TheMobileFooter.vue';
import NewsFeed from '../components/NewsFeed/NewsFeed.vue';
import NewsFeedFilters from '../components/NewsFeed/NewsFeedFilters.vue';

export default defineComponent({
  name: 'NewsFeedView',
  components: {
    TheHeader,
    TheMobileFooter,
    NewsFeedFilters,
    NewsFeed,
  },
});
</script>
