<template>
  <div class="flex flex-col min-h-screen w-screen">
    <the-header></the-header>
    <div class="bg-gray-100 grow">
      <main class="flex container grid grid-cols-12 gap-3 pt-6">
        <resource-create-form></resource-create-form>
      </main>
    </div>
    <the-mobile-footer></the-mobile-footer>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import ResourceCreateForm from '@/components/ResourceCreateForm.vue';
import TheHeader from '@/layout/TheHeader.vue';
import TheMobileFooter from '@/layout/Mobile/TheMobileFooter.vue';

export default defineComponent({
  name: 'ResourceCreateView',
  components: {
    ResourceCreateForm,
    TheHeader,
    TheMobileFooter,
  },
});
</script>
