{% extends 'admin/base.html.twig' %}

{% block meta %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}{{ app_title }} - Mon profil{% endblock %}

{% block menu 'user' %}

{% block body %}
    <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto">
            <a href="{{ path('admin_user_index') }}" title="Retour liste utilisateurs" class="flex items-center mt-4 text-sm hover:text-blue-600 hover:underline dark:text-gray-400 dark:hover:text-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                </svg>
                Retour liste utilisateurs
            </a>
            <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Mon profil
            </h1>
            <div class="flex flex-col lg:flex-row">
                <div class="w-full lg:w-1/2 px-4">
                    <h2 class="text-center items-start my-4 text-xl font-semibold text-gray-700 dark:text-gray-200">Modifier mes informations</h2>
                    {{ form_start(info_form) }}
                    {{ form_row(info_form.email) }}
                    {{ form_row(info_form.lastName) }}
                    {{ form_row(info_form.firstName) }}
                    {{ form_row(info_form.avatarFile) }}
                    {{ form_row(info_form.role) }}
                    <button type="submit"
                            class="block w-3/4 sm:w-1/3 md:w-1/2 px-4 py-2 mt-8 mx-auto text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                        Modifier
                    </button>
                    {{ form_end(info_form) }}
                </div>
                <div class="w-full lg:w-1/2 px-4 mt-8 lg:mt-0">
                    <h2 class="text-center my-4 text-xl font-semibold text-gray-700 dark:text-gray-200">Modifier mon mot de passe</h2>
                    {{ form_start(form) }}
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.plainPassword) }}
                    <button type="submit"
                            class="block w-3/4 sm:w-1/3 md:w-1/2 px-4 py-2 mt-8 mx-auto text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                        Modifier
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}