Votre compte a été activé

Bonjour {{ user_full_name|title }}
Votre compte chez (RE)sources relationnelles a bien été activé.
Vous pouvez désormais vous connecter à l'application en vous rendant sur {{ login_url }}


Cet email a été envoyé automatiquement, merci de ne pas y répondre