{% extends 'base_email.html.twig' %}

{% block title %}Votre compte a été activé{% endblock %}

{% block content %}
    <container>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p class="text-center title">{{ block('title') }}</p>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row class="text-content">
            <columns>
                <p>Bonjour {{ user_full_name|title }},</p>
                <spacer size="12"></spacer>
                <p>Votre compte chez (RE)sources relationnelles a bien été activé.</p>
                <p>
                    Vous pouvez désormais vous connecter à l'application.
                </p>
                <spacer size="20"></spacer>
                <center>
                    <button href="{{ login_url }}" class="radius">Se connecter</button>
                </center>
                <spacer size="20"></spacer>
                <p class="text-center noreply">
                    <em>Cet email a été envoyé automatiquement, merci de ne pas y répondre</em>
                </p>
            </columns>
        </row>
    </container>
{% endblock %}