{% extends 'base_email.html.twig' %}

{% block title %}Création de votre compte{% endblock %}

{% block content %}
    <container>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p class="text-center title">{{ block('title') }}</p>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row class="text-content">
            <columns>
                <p>Bonjour {{ user_full_name|title }},</p>
                <spacer size="12"></spacer>
                <p>Un compte vient de vous être créé chez (RE)sources relationnelles</p>
                <p>Afin de l'activer, veuillez définir votre mot de passe</p>
                <spacer size="20"></spacer>
                <center>
                    <button href="{{ create_password_url }}" class="radius">Créer mot de passe</button>
                </center>
                <spacer size="20"></spacer>
                <p class="text-center noreply">
                    <em>Cet email a été envoyé automatiquement, merci de ne pas y répondre</em>
                </p>
            </columns>
        </row>
    </container>
{% endblock %}