Création de votre commpte

Bonjour {{ user_full_name|title }},
Un compte vient de vous être créé chez (RE)sources relationnelles.

Afin de l'activer, veuillez définir votre mot de passe à cette adresse : {{ create_password_url }}


Cet email a été envoyé automatiquement, merci de ne pas y répondre
